# Introduction To Python

## Data types

### Numbers

In [22]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

In [23]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [25]:
x = 2
y = 3

In [27]:
z = x + y

In [28]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [30]:
x = 'hello'

In [31]:
x

'hello'

In [22]:
print(x)

hello

In [32]:
num = 12
name = 'abc'

In [33]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: abc

In [3]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: abc

### Lists

In [34]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [40]:
my_list = ['a','b','c',1]

In [36]:
my_list.append('d')

In [41]:
my_list

['a', 'b', 'c', 1]

In [42]:
my_list[0]

'a'

In [39]:
my_list[1]

'b'

In [48]:
my_list[-2:]

['c', 1]

In [49]:
my_list[:-1]

['NEW', 'b', 'c']

In [45]:
my_list[0] = 'NEW'

In [46]:
my_list

['NEW', 'b', 'c', 1]

In [50]:
nest = [1,2,3,[4,5,['target']]]

In [51]:
nest[3]

[4, 5, ['target']]

In [55]:
nest[3][2]

['target']

In [57]:
nest[3][2][0]

'target'

### Dictionaries

In [72]:
d = {'year':1999,'year':'item2','month':'Jan'}

In [73]:
print(d.keys())

dict_keys(['year', 'month'])

In [67]:
d['year']

'item2'

### Booleans

In [75]:
True

True

In [41]:
False

False

### Tuples

In [80]:
t = (1,2,3,5,6,7,8)

In [78]:
t[0]

1

In [79]:
# tuples are immutable. can not assign new values 
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [81]:
{1,2,3}

{1, 2, 3}

In [86]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [88]:
1 == 2

False

In [90]:
'hi' == 'hi'

True

## Logic Operators

In [92]:
(2 >1) and (1 < 3)

True

In [54]:
(1 > 2) or (2 < 3)

True

In [93]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [94]:
if 1 < 2:
    print('Yep!')

Yep!

In [100]:
if 3 < 2:
    print('yep!')
    print('yep! out of if')

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [101]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [102]:
seq = [1,2,3,4,5]

In [103]:
for item in seq:
    print(item)

1
2
3
4
5

In [104]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [106]:
for i in seq:
    print(i+i)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [115]:

mylist=[1,2,3,4,5,6,1000]
for i in mylist:
    print(i)

1
2
3
4
5
6
1000

In [122]:
mylist=[]
for i in range(51,65):
    mylist.append(i)
print(mylist)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

In [129]:
mylist[:5]

[51, 52, 53, 54, 55]

## list comprehension

In [11]:
x = [1,2,3,4]

In [12]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [13]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [143]:
def my_func(param1='abc'):
    #param1='vipul'
    """
    Docstring goes here.
    """
    print(param1)

In [131]:
my_func

In [145]:
my_func()

abc

In [144]:
my_func('new param')

new param

In [18]:
my_func(param1='new param')

new param

In [133]:
def square(x):
    return x**2

In [134]:
out = square(2)

In [135]:
print(out)

4

## lambda expressions

In [146]:
def times2(var):
    return var*2

In [147]:
times2(2)

4

In [148]:
lambda var: var*2

## map and filter

In [152]:
seq = [1,2,3,4,5]

In [168]:
map(times2,seq)

In [169]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [170]:
filter(lambda item: item%2 == 0,seq)

In [171]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [156]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [157]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [158]:
tweet = 'Go Sports! #Sports'

In [159]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [160]:
tweet.split('#')[1]

'Sports'

In [161]:
d

{'month': 'Jan', 'year': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [162]:
d.items()

dict_items([('year', 'item2'), ('month', 'Jan')])

In [163]:
lst = [1,2,3]

In [164]:
lst.pop()

3

In [165]:
lst

[1, 2]

In [166]:
'x' in [1,2,3]

False

In [167]:
'x' in ['x','y','z']

True

# Great Job!